@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lilita One', cursive!important;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.badge-w550 {
    width: 550px!important;
}
.z-index9 {
    z-index: 9;
}
.h-100 {
    height: 100%;
}
.shadow-custom {
    text-shadow: -1px 3px black, -2px 2px black;
    -webkit-text-stroke-color: black;
}
:root {
    --clr-text-nor : #fff;
    --clr-text-nor-hov : #FFE96C;

}

.section .fp-tableCell {
    vertical-align: inherit;
}
.cl-w {
    color: white;
}
.wrap-badge-section {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.badge-section{
    width: 300px;
    margin: 0 auto;
}
.have-cloud {
    position: relative;
}
.have-cloud img.cloud-top-left {
    position: absolute;
    top: -24%;
    left: -26%;
}
.have-cloud img.cloud-top-right {
    position: absolute;
    top: -24%;
    right: -20%;
}
.have-cloud img.cloud-top-center {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}
.section-hero {
    background-image: url('/images/banner-nologo.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-hero .cloud-banner {
    position: absolute;
    z-index: 2;
    top: 110%;
    left: 0px;
    transform: translate(0%, -50%);
}

.section-hero .video-banner {
    width: 100%;
}

.main-header {
    background: url('/images/header.png');
    min-height: 84px;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    padding: 0px 65px;
}

.main-header .logo-pc {
    position: relative;
    min-width: 200px;
}

.main-header .logo-pc img {
    position: absolute;
    bottom: -10px;
    width: 200px;
}

.navbar {
    padding: 0px!important;
}

.navbar.fixed-top {
    top: -4px;
}

.main-header .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.main-header .main-nav .item-nav,.nav-mobie-body .item-nav {
    color: var(--clr-text-nor)!important;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
}

.main-header .main-nav .item-nav:hover.nav-mobie-body .item-nav:hover{
    color: var(--clr-text-nor-hov)!important;
}

.hero-show {
    position: relative;
    width: 100%;
    height: calc(100vh - 88px);
}

.hero-show img.hero-center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}

.hero-show img.hero-p1 {
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translate(-0%, -50%) scale(1);
    animation-name: hero-p1-show;
    animation-duration: 2s;
}

.hero-show img.hero-p2 {
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translate(-0%, -50%) scale(0.8);
}

.hero-show img.hero-p3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

.hero-show img.hero-p4 {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(-0%, -50%) scale(0.8);
}

.hero-show img.hero-p5 {
    position: absolute;
    top: 70%;
    right: 5%;
    transform: translate(-0%, -50%) scale(0.8) scaleX(-1);
}

@keyframes hero-p1-show {
    0%   {
        top: 70%;
        left: -30%;
        opacity: 0;
    }
    100%  {
        top: 70%;
        left: 5%;
        opacity: 1;
        animation-name: up-down;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}

.section-eco {
    background: url('/images/sec1\,5-bg\ \(2\).png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-position: center;
    position: relative;
}

.section-eco::after{
    content: '';
    background: rgb(0,125,193);
    background: -moz-linear-gradient(180deg, rgb(0 125 193 / 0%) 0%, rgb(10 33 63) 100%, rgba(10,33,63,1) 60%);
    background: -webkit-linear-gradient(180deg, rgb(0 125 193 / 0%) 0%, rgb(10 33 63) 100%, rgba(10,33,63,1) 60%);
    background: linear-gradient(180deg, rgb(0 125 193 / 0%) 0%, rgb(10 33 63) 100%, rgba(10,33,63,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007dc1",endColorstr="#0a213f",GradientType=1);
    height: 400px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.section-eco .one-card-eco {
    padding-top: 80px;
    padding-bottom: 35px;
    padding-left: 75px;
    padding-right: 83px;
    height: 473.5px;
}

.section-eco .one-card-eco .title-card-eco {
    line-height: 53px;
    text-align: center;
    font-size: 28px;
    color: white;
}
.section-eco .one-card-eco .wrap-image-card-eco {
    margin-top: 27px;
    margin-bottom: 27px;
    text-align: center;
}
.section-eco .one-card-eco .content-card-eco {
    padding: 20px;
    display: block;
    margin: auto 0;
    font-size: 18px;
    text-align: center;
    background: #0b1f3038;
    min-height: 148px;
}

.section-eco .one-card-eco .content-card-eco p {
    margin-bottom: 0px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.1px;
}

.section-eco .card-1 {
    background-image: url('/images/card1.png');
    width: 100%;
    height: 473.5px;
    background-size: cover;
    z-index: 3;
}

.section-eco .card-2 {
    background-image: url('/images/card2.png');
    width: 100%;
    background-size: cover;
}

.section-eco .card-3 {
    background-image: url('/images/card3.png');
    width: 100%;
    background-size: cover;
}

.section-concept {
    background: rgb(10,34,64);
    background: -moz-linear-gradient(180deg, rgba(10,34,64,1) 0%, rgba(10,21,53,1) 30%, rgba(10,21,53,0.97) 100%);
    background: -webkit-linear-gradient(180deg, rgba(10,34,64,1) 0%, rgba(10,21,53,1) 30%, rgba(10,21,53,0.97) 100%);
    background: linear-gradient(180deg, rgba(10,34,64,1) 0%, rgba(10,21,53,1) 30%, rgba(10,21,53,0.969) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a2240",endColorstr="#0a1535",GradientType=1);
}
.section-concept .container-trailer-game {
    margin-top: 100px;
    width: 100%;
    margin: 0 auto;
    background: url('/images/video-frame.png') no-repeat 50%;
    background-size: contain;
}
.section-concept .trailer-game {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.section-concept .trailer-game .img-trailer-left {
    position: absolute;
    left: -30px;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
.section-concept .trailer-game .img-trailer-right {
    position: absolute;
    right: -40px;
    top: 60%;
    z-index: 9999;
    -webkit-transform: translate(-0%, -50%) scaleX(-1);
    -moz-transform: translate(-0%, -50%) scaleX(-1);
    transform: translate(50%, -50%) scaleX(-1) rotate(6deg);
}
.section-concept .show-trailer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 1px;
}

.section-concept .show-trailer iframe {
    width: 100%;
    height: 100%;
    padding: 40px 46px;
}

.section-concept .concept-game {
    flex: 0 0 60%;
}
.section-concept .concept-game img {
    width: 100%;
}
.section-concept .concept-game .show-concept {
    display: flex;
    justify-content: center;
}

.section-concept .concept-game .badge-concept {
    width: 60%;
    position: absolute;
    top: -50px;
    background-image: url('/images/label-concept.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 229px;
    /* padding-top: 25px; */
    padding: 50px 100px 0px;
    text-align: center;
}

.section-concept .concept-game .badge-concept h2 {
    font-size: 34px;
    color: var(--clr-text-nor);
    font-weight: normal;
}

.section-concept .concept-game .badge-concept p {
    font-size: 18px;
    color: var(--clr-text-nor);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section-concept .concept-game span.name-concept {
    font-family: 'Love Ya Like A Sister', cursive;
    position: absolute;
    bottom: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 5;
    font-size: 20px;
    
}
.section-hero-concept {
    background: linear-gradient(180deg, rgba(9,20,53,1) 0%, rgba(3,48,80,1) 100%, rgba(10,21,53,1) 100%);
    background-image: url('/images/bg-bottom-concept.png'),linear-gradient(180deg, rgb(17 29 62) 0%, rgba(3,48,80,1) 100%, rgba(10,21,53,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 63px;
    padding-bottom: 300px;
}

.section-hero-concept::before {
    content: ' ';
    background-image: url('/images/cloudbig3.png');
    position: absolute;
    bottom: 0px;
    height: 450px;
    width: 100%;
}
.section-hero-concept .info-hero-concept {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-hero-concept .info-hero-concept img {
    width: 160px;
    height: 160px;
}

.section-hero-concept .concept-hero {
    background-image: url('/images/background-hero.png');
    flex: 0 0 35%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: relative;
}

.section-hero-concept .concept-hero .name-hero {
    position: absolute;
    bottom: 0px;
    background: url('/images/card-name.png');
    width: 100%;
    height: 94px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero-concept .concept-hero .name-hero p {
    color: white;
    margin-top: 5%;
    font-size: 1.2rem;
    text-shadow: -1px 3px black, -2px 2px black;
}

.section-hero-concept .concept-hero img.detail-hero {
    max-width: 80%;
}

.description-character {
    width: 74% ;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
}

.slick-heros {
    max-width: 87%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}
.slick-heros .slick-center .wrapper-one-hero .image-slick-hero {
    width: 170px;
}

.slick-heros .wrapper-one-hero {
    height: 300px;
    padding: 20px;
    width: 250px!important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s;
}
.slick-heros .slick-center .one-hero {
    background-image: url('/images/card-active.png');
    background-size: contain;
    border: 3px solid #fefbd1;
    box-shadow: 10px 10px 5px 0px rgba(108,57,196,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(108,57,196,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(108,57,196,0.75);
    animation: neon3 1.5s ease-in-out infinite alternate;
    opacity: 1!important;
}
.slick-heros .slick-center .one-hero img {
    opacity: 1;
}
@keyframes neon3 {
    from {
        box-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 13px #ffdd1b,
        0 0 16px #ffdd1b, 0 0 16px #ffdd1b, 0 0 16px #ffdd1b, 0 0 16px #ffdd1b;
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #ffdd1b,
        0 0 6px #ffdd1b, 0 0 7px #ffdd1b, 0 0 8px #ffdd1b, 0 0 9px #ffdd1b;
    }
  }
.slick-heros .slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-heros .one-hero {
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: url('/images/card-inactive.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    transition: 1s;
    opacity: 0.6;
}
.slick-heros .one-hero img {
    opacity: 0;
    transition: 1s;
}
.wrap-content-game-hero {
    margin: 0 auto;
    display: flex!important;
}
.slick-heros .image-slick-hero {
    width: 120px;
}

.section-roadmap {
    background-image: url('/images/bg-roadmap.png');
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.section-roadmap .wrap-roadmap {
    margin-top: 100px;
    padding-bottom: 100px;
}
.section-roadmap::before {
    content: '';
    background-image: url(/images/cloudbig3.png);
    height: 500px;
    background-position: 0px -44px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 100%;
    z-index: 99;
}

.section-roadmap .mid-road {
    width: 88%;
    border-top: 4px solid #FFE48D;
    border-bottom: 3px solid #B77300;
    border-radius: 6px;
    margin: 0 auto;
}

.section-roadmap .top-road{
    display: flex;
    justify-content: space-between;
}
.section-roadmap .top-road .item {
    text-align: center;
    margin-bottom: -24px;
}
.section-roadmap .top-road .item .content-roadmap {
    text-align: left;
    min-height: 81px;
}
.section-roadmap .item .date-roadmap {
    font-size: 23px;
    color: #FFE092;
    margin-top: -25px;
    margin-bottom: 0px;
}

.section-roadmap .bot-road {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.section-roadmap .bot-road .item {
    text-align: center;
    width: 150px;
}

.section-roadmap .item .content-roadmap p {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: left;
    white-space: nowrap;
}

.section-roadmap .bot-road .wrap-icon-end {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    margin-top: -22px;
}

.section-tokenomics.section-token-allocation {
    background-image: url('/images/bg-token.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* .section-tokenomics.section-token-allocation::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #0012326b;
} */

.cloud-pos1 {
    position: absolute;
    top: 10%;
    opacity: 0.6!important;
    right: -60%;
    animation: kfcloudanimation1 10s infinite;
}
.cloud-pos2 {
    position: absolute;
    top: 50%;
    right: -10%;
    opacity: 0.6!important;
    animation: kfcloudanimation2 10s infinite;
}
.cloud-pos3 {
    position: absolute;
    top: 35%;
    right: -40%;
    opacity: 0.6!important;
    animation: kfcloudanimation3 30s infinite;
}
@keyframes kfcloudanimation1 {
    0%   {
        top: 10%;
        right: -60%;
    }
    100%  {
        top: 10%;
        right: 120%;
    }
}
@keyframes kfcloudanimation2 {
    0%   {
        top: 50%;
        right: -10%;
    }
    100%  {
        top: 50%;
        right: 120%;
    }
}
@keyframes kfcloudanimation3 {
    0%   {
        top: 35%;
        right: -40%;
    }
    100%  {
        right: 120%;
    }
}
.section-tokenomics .item {
    background-image: url('/images/box-tokenomics.png');
    height: 121.54px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-tokenomics .item-center {
    background-image: url('/images/box-tokenomics2.png');
    height: 121.54px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-tokenomics .item-suply {
    background-image: url('/images/box-tokenomics4.png');
    height: 199px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-tokenomics .item-center .title-item {
    font-size: 24px!important;
}
.section-tokenomics .item-suply .title-item{
    max-width: 60%;
    text-align: center;
    font-size: 20px;
}
.section-tokenomics .wrap-tokenomic {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.section-tokenomics .wrap-tokenomic .wrap-badge-section img {
    z-index: 2;
}
.section-tokenomics .wrap-tokenomic .left-box,.section-tokenomics .wrap-tokenomic .right-box{
    z-index: 2;
}
.section-tokenomics .wrap-tokenomic .wrap-center-box {
    display: flex;
    justify-content: center;
    z-index: 2;
}
.section-tokenomics .wrap-tokenomic .wrap-center-box img {
    object-fit: contain;
}
.section-tokenomics .wrap-tokenomic .wrap-center-box img.arrowcenter {
    width: 186px;
}
.section-tokenomics .wrap-tokenomic .wrap-center-box img.arrowright {
    transform: rotate(180deg);
}

.section-tokenomics .item .title-item,.section-tokenomics .item-center .title-item {
    margin-bottom: 0px;
    max-width: 70%;
    text-align: center;
    font-size: 22px;
}
.section-tokenomics .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-token-allocation {
    color: white;
    padding-bottom: 50px;
}

.section-token-allocation .wrap-table {
    text-align: center;
    padding: 0px 60px;
    margin-top: 50px;
}
.section-token-allocation th,.section-token-allocation td {
    border-bottom: 1px solid #FFF9D3;
    border-left: 1px solid #FFF9D3;
}
.section-token-allocation th,.section-token-allocation td,.section-token-allocation tr {
    height: 51px;
    text-shadow: 1px 3px black;
    min-width: 150px;
    max-width: 260px;
}
.title-table{
    border-top: 1px solid #FFF9D3;
    padding: 10px 0px;
}
.vesting-table {
    border-right: 1px solid #FFF9D3;
    text-align: left;
    padding-left: 15px;
    max-width: 280px!important;
    width: 280px!important;
}
.vesting-table,.title-table {
    color: #FFE092;
}

.section-token-allocation .last-row {
    background: #FFA945;
}
.padding-in-fullpage {
    height: 200px;
}

.section-core-team {
    background-image: url('/images/bg-team.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -419px;
    position: relative;
}
.section-core-team::after {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.section-core-team .wrap-core-team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.section-core-team .wrap-core-team .team-member {
    flex: 0 0 20%;
    padding: 20px;
    text-align: center;
    z-index: 9;
}
.section-core-team .wrap-core-team .team-member .name {
    color: #FFE96C;
    font-size: 18px;
    margin-bottom: 0px;
}

.section-core-team .wrap-core-team .team-member .position {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}
.section-community {
    background-image: url('/images/bg-team.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-bottom: 200px;
    padding-top: 143px;
}
.section-community .badge-community-custom {
    background-image: url('/images/bg-text-community.png');
    background-position: top center;
    background-repeat: no-repeat;
    width: 327px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    margin-top: 0px!important;

}
.section-community::after {
    background-image: url('/images/cloudbig2.png');
    background-position: 0px -200px;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
    z-index: 2;
}
.section-community::before {
    background-image: url('/images/bg-community.png');
    background-position: -40px -100px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 100%;
    z-index: 1;
}
.section-community .badge-community-custom p {
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}

.section-community .wrap-all-community {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-between;
}
.section-community .wrap-all-community .one-item {
    background-image: url('/images/icon-community.png');
    width: 234px;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.footer {
    background: url('/images/bg-footer.png'),black;
    padding: 30px 0px;
}
.footer .wrap-logo-footer p {
    color: white;
    margin-top: 10px;
}
.footer .title-footer {
    color: white;
    text-shadow: 1px 3px black;
    margin-bottom: -7px;
}
.footer .logo-footer {
    width: 80%;
    margin: 0 auto;
}
.footer .link-footer {
    display: block;
    color: #DDD9C1;
    text-decoration: unset;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer .wrap-social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.footer .wrap-social .link-footer {
    flex: 0 0 33%;
}

@media (min-width: 992px) and (max-width: 1279px) {
    .section-hero {
        height: 100%;
    }
    .section-eco .one-card-eco {
        width: 296px;
        height: 400px;
        background-position: center;
        padding-top: 60px;
        padding-bottom: 35px;
        padding-left: 44px;
        padding-right: 51px;
    }
    .section-eco .one-card-eco img {
        width: 50px;
    }
    .section-hero .video-banner {
        margin-bottom: -20px;
    }
    .section-eco .one-card-eco .content-card-eco {
        padding: 10px;
        min-height: 122px;
    }
    .section-concept .container-trailer-game {
        width: 80%;
    }
    .concept-hero video {
        width: 80%;
    }
    .slick-heros .wrapper-one-hero {
        height: 210px;
    }
    .slick-heros .slick-center .wrapper-one-hero .image-slick-hero {
        width: 105px;
    }
    .section-roadmap::before {
        height: 250px;
    }
    .section-roadmap .item .content-roadmap p {
        font-size: 14px;
    }
    .team-member img {
        max-width: 100%;
    }
    .section-core-team {
        background-position: 0 -200px;
    }
    .vesting-table {
        width: unset;
    }
    .section-token-allocation th, .section-token-allocation td, .section-token-allocation tr {
        min-width: unset;
    }
    .section-tokenomics .wrap-tokenomic .wrap-center-box img.arrowcenter {
        width: 60px;
    }
    .section-community .wrap-all-community .one-item {
        background-size: cover;
        height: 174px;
        flex: 0 0 20%;
    }
    .section-community::before {
        background-position: -350px -100px;
        top: 70px;
    }
    .section-community {
        background-position: 0px -600px;
    }
}
@media (max-width: 1279px) {
    .nav-pc {
        display: none!important;
    }
    .nav-mobile {
        display: flex!important;
        background : #d6d8d95c;
    }
}
@media (min-width: 1280px) {
    .nav-pc {
        display: flex!important;
    }
    .nav-mobile {
        display: none!important;
    }
}
@media (min-width: 1280px) and (max-width: 1399px) {
    .section-community .wrap-all-community .one-item {
        background-size: cover;
        height: 200px;
        flex: 0 0 20%;
    }
    .section-community::before {
        background-position: -350px -100px;
        top: 70px;
    }
    .section-community {
        background-position: 0px -600px;
    }
    .team-member img {
        max-width: 100%;
    }
    .slick-heros .one-hero {
        height: 220px;
    }
    .main-header {
        height: 71px;
        width: 100%;
        min-height: unset;
    }
    .main-header .main-nav .item-nav, .nav-mobie-body .item-nav {
        font-size: 16px;
    }
    .navbar-brand video {
        width: 150px;
    }
    .section-hero {
        height: unset;
    }
    .section-eco {
        margin-top: -10px;
    }
    .section-eco .one-card-eco {

        width: 416px;
        background-position: center;
        padding-top: 60px;
        padding-bottom: 35px;
        padding-left: 75px;
        padding-right: 83px;
        height: 473.5px;
    }
}
@media (min-width: 767px) {
    .show-md {
        display: block;
    }
    .show-mobile {
        display: none!important;
    }
}
@media (min-width: 510px) and (max-width: 767px) { 
    .wrap-tokenomic {
        transform: scale(0.6)!important;
        margin-top: -120px!important;
        margin-bottom: -100px!important;
    }
}
@media (min-width: 1px) and (max-width: 767px) {
    .section-community::before {
        display: none;
    }
    .one-col-footer {
        margin-bottom: 20px;
    }
    .wrap-logo-footer {
        margin-bottom: 20px;
    }
    .footer {
        background-size: cover;
    }
    .section-community .wrap-all-community {
        justify-content: center;
    }
    .section-core-team {
        background-position: unset;
        padding-bottom: 100px;
    }
    .team-member img {
        margin: 0 auto;
    }
    .badge-w550 {
        width: 100%!important;
    }
    .section-roadmap {
        padding-bottom: 100px;
    }
    .roadmap-mobile .item img {
        margin: 0 auto;
    }
    .arrowcenter {
        display: none;
    }
    .section-tokenomics .wrap-tokenomic {
        transform: scale(0.45);
        margin-top: -150px;
        margin-bottom: -150px;
    }
    .roadmap-mobile .item {
        display: block!important;
        width: 80%!important;
        margin: 0 auto;
    }
    .section-roadmap .item .date-roadmap {
        text-align: center;
    }
    .section-roadmap .item .content-roadmap p {
        text-align: center;
    }
    .wrap-badge-section {
        width: 100%;
    }
    .description-character {
        width: 100%;
    }
    .detail-hero {
        width: 100%;
    }
    .section-concept .show-trailer iframe {
        padding: 15px 16px;
    }
    .img-trailer-left,.img-trailer-right {
        display: none;
    }
    .section-eco {
        padding-bottom: 0px;
    }
    .nav-mobile {
        height: 79px;
    }
    .video-banner {
        margin-top: 75px;
    }
    .show-md {
        display: none!important;
    }
    .show-mobile {
        display: block;
    }
    .cloud-banner {
        display: none;
    }
    .wrap-image-card-eco {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .wrap-image-card-eco img {
        width: 70px;
        margin: 0 auto;
    }
    .section-eco .one-card-eco {
        width: 296px;
        height: 400px;
        background-position: center;
        padding-top: 60px;
        padding-bottom: 35px;
        padding-left: 44px;
        padding-right: 51px;
        z-index: 3;
        margin: 0 auto;
    }
    .section-eco .one-card-eco .content-card-eco {
        padding: 10px;
        min-height: unset;
    }
    .mobile-center {
        justify-content: center;
    }
    .slick-heros .wrapper-one-hero {
        height: 210px;
    }
    .slick-heros .slick-center .wrapper-one-hero .image-slick-hero {
        width: 105px;
    }
    .slick-heros .slick-center .one-hero{
        width: 122px!important;
    }
    .slick-heros .wrapper-one-hero  {
        width: 150px!important;
    }
    .section-hero-concept .slick-next {
        right: -25px!important;
    }
    .section-hero-concept .slick-prev {
        left: -25px!important;
    }
    .section-hero-concept {
        padding-bottom: 200px;
    }
    .section-roadmap::before {
        height: 260px;
        background-position: 0 0px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wrap-image-card-eco {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .wrap-image-card-eco img {
        width: 70px;
    }
    .section-eco .one-card-eco {
        width: 296px;
        height: 400px;
        background-position: center;
        padding-top: 60px;
        padding-bottom: 35px;
        padding-left: 44px;
        padding-right: 51px;
    }
    .section-eco .one-card-eco .content-card-eco {
        padding: 10px;
        min-height: unset;
    }
    .mobile-center {
        justify-content: center;
    }
    .slick-heros .wrapper-one-hero {
        height: 262px;
    }
    .slick-heros .slick-center .wrapper-one-hero .image-slick-hero {
        width: 154px;
    }
    .concept-hero video {
        width: 80%;
    }
    .section-roadmap::before {
        height: 225px;
    }
    .section-roadmap .wrap-roadmap {
        display: flex;
    }
    .section-roadmap .top-road,.section-roadmap .bot-road {
        display: flex;
        flex-direction: column;
        flex: 0 0 49.5%;
        align-items: center;
    }
    .mid-road {
        border-left: 4px solid #FFE48D;
        border-right: 3px solid #B77300;
        border-top: none;
        border-bottom: none;
    }
    .section-roadmap .bot-road .item {
        width: 100%;
        padding-left: 60px;
        position: relative;
        margin-bottom: 20px;
       
    }
    .section-roadmap .bot-road .content-roadmap p {
        text-align: center!important;
    }
    .section-roadmap .top-road .item {
        width: 100%;
        padding-left: 60px;
        position: relative;
       
    }
    .section-roadmap .bot-road .item .wrap-icon-end {
        position: absolute;
        top: 50%;
        left: -5px;
        transform: rotate(90deg);
    }
    .section-roadmap .top-road .item {
        padding-right: 60px;
        width: 100%;
        margin-bottom: 20px;
    }
    .section-roadmap .top-road .content-roadmap p {
        text-align: center!important;
    }
    .section-roadmap .content-roadmap {
        min-height: 81px;
    }
    .section-roadmap .top-road .end-road-top {
        position: absolute;
        top: 0px;
        right: -5px;
        transform: translate(0%, -50%) rotate(270deg);
    }
    .section-roadmap .bot-road {
        justify-content: unset;
    }
    .wrap-tokenomic {
        transform: scale(0.85);
    }
    .section-tokenomics .wrap-tokenomic .wrap-center-box img.arrowcenter {
        width: 0px;
    }
    #token-allocation {
        display: none;
    }
    .section-core-team .badge-section {
        width: 100%!important;
    }
    .section-core-team .wrap-core-team .team-member {
        flex: 0 0 50%;
    }
    .section-core-team .wrap-core-team .team-member img {
        width: 100%;
    }
    .section-core-team {
        background-position: unset;
    }
    .section-community .wrap-all-community .one-item {
        flex: 0 0 20%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 123px;
    }
    .section-community .wrap-all-community .one-item img {
        display: flex;
        margin: 0 auto;
        width: 60%;
    }
    .section-community::before {
        display: none;
    }
    
}

@media (min-width: 1px) and (max-width: 1279px){
    .section-hero {
        height: unset;
    }
    .section-eco {
        margin-top: -10px;
    }
}